.container {
  padding: 0.5rem;
  //border-color: var(--color-line);
  border: 1px solid #888;
  align-items: center;
  margin-bottom: 0.5rem;
  display: flex;
  min-height: 39px;

  .emoji {
    margin-right: 0.5rem;
  }
}